.root{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.create{
  background-color: grey;
  grid-column: 1/2;
  grid-template-rows: 1fr 3fr 1fr;
  text-align: center;
  padding: 10px;
}

input, textarea{
  background-color: #89cff0;
  margin: 10px;
}

.data{
  /* border-radius: 5% 5% 5% 5%; */
  background-color: #53778F;
  margin: 10px 0px 0px 10px;
}