.root{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.record{
  background-color: grey;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  text-align: center;
  padding: 10px;
  
}

.title{
  background-color: #89cff0;
  margin: 10px;
}
.details{
  background-color: #89cff0;
  margin: 10px;
}

.date{
  background-color: #89cff0;
  margin: 10px;
}