.root{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

form{
  background-color: grey;
  grid-column: 1/2;
  grid-template-rows: 1fr 3fr 1fr;
  text-align: center;
  padding: 10px;
}

input{
  background-color: #89cff0;
  margin: 10px;
}

.date{
  background-color: #89cff0;
  margin: 10px;
}